.home-body {
	display: flex;
	position: absolute;
	flex-direction: column;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
}

.home-welcome-text {
	color: #a9ccff;
	text-align: center;
}

.MuiSvgIcon-root:hover {
	color: #83a3cc;
}