.view-notes-full-body {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    margin: 1.5vw;
}

.view-notes-full {
    border-color: #282828;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    padding: 2vw;
    background-color: #282828;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}